{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,600,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/site.css" %}" type="text/css" media="screen" charset="utf-8">
    
    <title>About me: Luiz Fonseca.</title>
   


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43318071-1', 'luiz.cc');
    ga('send', 'pageview');

  </script>

  </head>
  <body>
    <div id="container">
      <div class="row header">
        <div class="large-16 large-centered columns center-text">
          <div class="large-4 large-centered columns">
            <img src="{% static "img/me.jpg" %}" class="myself circle-radius bordered-white shadow-boxed" alt="Me :)" title="Yeah, it's me"/>
          </div>
          <h1>Hi! I'm Luiz Fonseca.</h1>
          <h4>I'm a <a href="https://github.com/luizfonseca">Software Developer</a>, <a href="http://500px.com/luizfonseca">Photographer</a>, <a href="http://soundcloud.com/luizfonseca">Drummer/Guitar player</a> and a <a href="http://www.gargantadaserpente.com/coral/contos/lcf_setemeia.shtml">Wannabe writer</a>.</h4>
        </div>
      </div>


      <div class="row portfolio">
        
        <div class="large-16 center-text columns">
          <p> Contact me at: <a href="mailto:eu@luiz.cc">eu@luiz.cc</a></p>
        </div>

      </div>
      <div class="spacer">&nbsp;</div> 

      <hr/>
      <div class="row references">
        <div class="large-14 large-centered columns">
            <h2 class="center-text">Useful reading suggestions:</h2>

            <dl>
              <dt> <a href="http://www.quora.com/Engineering-Management/Why-are-software-development-task-estimations-regularly-off-by-a-factor-of-2-3">Why are software development task estimations are off by an factor of 2-3?</a></dt>
              <dd>A Quora answer who uses an anedote to explain why task estimations in some cases doesn't correspond to reality. Also, there's <a href="http://en.wikipedia.org/wiki/How_Long_Is_the_Coast_of_Britain%3F_Statistical_Self-Similarity_and_Fractional_Dimension">this wikipedia article about the Statistical Similarity and Fractional Dimension from Benoît Mendelbrot.</a></dd>


              <dt><a href="http://zachholman.com/posts/how-github-works-hours/">Hours are bullshit</a></dt>
              <dd>Great blog post from Zach Holman (Github) about why fixed working hours are bullshit and why they kill the creativity. Also, read the other 2 blog posts: <a href="http://zachholman.com/posts/how-github-works-asynchronous/">Be Asynchronous</a> and <a href="http://zachholman.com/posts/how-github-works-creativity/">Creativity is Important</a>
            </dl>
        </div>

      </div>

    </div>
  </body>

</html>
