{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,600,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/site.css" %}" type="text/css" media="screen" charset="utf-8">
    
    <title>About me: Luiz Fonseca.</title>
    

  </head>
  <body>
    <div id="container">
      <div class="row header">
        <div class="large-16 large-centered columns center-text">
          <div class="large-4 large-centered columns">
            <img src="{% static "img/me.jpg" %}" class="myself circle-radius bordered-white shadow-boxed" alt="Me :)" title="Yeah, it's me"/>
          </div>
          <h1>Hi! I'm Luiz Fonseca.</h1>
          <h4>I'm a <a href="https://github.com/luizfonseca">Software Developer</a>, <a href="http://500px.com/luizfonseca">Photographer</a>, <a href="http://soundcloud.com/luizfonseca">Drummer/Guitar player</a> and a <a href="http://www.gargantadaserpente.com/coral/contos/lcf_setemeia.shtml">Wannabe writer</a>.</h4>
        </div>
      </div>


      <div class="portfolio row">
        
        <div class="large-16 center-text columns">
          <p> Contact me at: <a href="mailto:eu@luiz.cc">eu@luiz.cc</a></p>
        </div>

      </div>


    </div>
  </body>

</html>
